<!--トップページ-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!--<div class="boxContainer">-->
<!--    <table>-->
<!--        <tr>-->
<!--        <div id="slide">-->
<!--            <div class="posimage" align="center">-->
<!--            <ul>-->
<!--            <li><a href=""><%= image_tag("shinkawa.jpg") %></a></li>-->
<!--            <li><a href=""><%= image_tag("kaneko.jpg") %></a></li>-->
<!--            <li><a href=""><%= image_tag("zaou.jpg") %></a></li>-->
<!--            </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--<script>-->
<!--$(function(){-->
<!--// 設定-->
<!--var $interval = 4000; // 切り替わりの間隔（ミリ秒）-->
<!--var $fade_speed = 2000; // フェード処理の早さ（ミリ秒）-->
<!--$("#slide ul li").css({"position":"relative","overflow":"hidden","height":300,"width":1000});-->
<!--$("#slide ul li").hide().css({"position":"absolute","top":0,"left":0});-->
<!--$("#slide ul li:first").addClass("active").show();-->
<!--setInterval(function(){-->
<!--var $active = $("#slide ul li.active");-->
<!--var $next = $active.next("li").length?$active.next("li"):$("#slide ul li:first");-->
<!--$active.fadeOut($fade_speed).removeClass("active");-->
<!--$next.fadeIn($fade_speed).addClass("active");-->
<!--},$interval);-->
<!--});-->
<!--</script>-->


<%# PC用ページ %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<% if request.from_pc? %>
    <!-- 検索ボックス -->
    <div class="boxContainer">
        <div class="search">
            <fieldset style="border: 1px solid;">
                <legend><div class="textfont"><font size="6">Search</font><font size="4" color="gray">検索</font></div></legend>
                <table border="1">
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <!-- 本日の新着情報 -->
        <div class="toku" >
            <fieldset style="border: 1px solid;">
                <legend><div class="textfont"><font size="6">News </font><font size="4" color="gray">新着情報</font></div></legend>
                <table border="1">
                    <tbody style="overflow-y:scroll; display: block; width: 160%;">
                        <% @shintyaku.each do |shintyaku| %>
                        <tr>
                            <td style="font-size: 30px;" ><%= shintyaku.shopname%></td>
                        </tr>
                        <tr>
                            <td width="100" style="font-size: 20px;"><%= shintyaku.title%></td>
                        </tr>
                        <tr>
                            <td>
                            <button class="button1" type="submit"><%= link_to "詳細はこちら", shintyakus_path(shintyaku), :style=>"color:white;" %></button>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </legend>            
        </div>
    </div>
    <!-- ジャンルタイル -->
    <div class="boxContainer">
        <div class="box">
            <table align="center">
                <div class="textfont"><caption><font size="5">Genre </font><font size="3" color="gray">ジャンル</font></caption></div>
                <tr>
                    <td>
                        <%= link_to users_search_path(:para =>'ラーメン'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('ramen.jpg') %></div>
                        <span class="TileContents">ラーメン</span> 
                        <% end %>
        　               <%= link_to users_search_path(:para =>'居酒屋'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('izakaya.jpg') %></div>
                            <span class="TileContents">居酒屋</span> 
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= link_to users_search_path(:para =>'定食'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('teisyoku.jpg', :class => "ookisa") %></div>
                            <span class="TileContents">定食</span> 
                        <% end %>
                        <%= link_to users_search_path(:para =>'カフェ'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('cafe.jpg', :class => "ookisa") %></div>
                            <span class="TileContents">カフェ</span> 
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box">
            <table align="center">
                <caption><font size="5">Place </font><font size="3" color="gray">場所</font></caption>
                <tr>
                    <td>
                        <%= link_to users_search_path(:para =>'西門周辺'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('nishimon.jpg', :size => "200x200") %></div>
                            <span class="TileContents">西門周辺</span> 
                        <% end %>
                        <%= link_to users_search_path(:para =>'北門周辺'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('kitamon.jpg', :size => "200x200") %></div>
                            <span class="TileContents">北門周辺</span> 
                        <% end %>
                        <%= link_to users_search_path(:para =>'正門・中門周辺'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('seimon.jpg', :size => "200x200") %></div>
                            <span class="TileContents">正門・中門周辺</span> 
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= link_to users_search_path(:para =>'内野駅周辺'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('utino.jpg', :size => "200x200") %></div>
                            <span class="TileContents">内野駅周辺</span> 
                        <% end %>
                        <%= link_to users_search_path(:para =>'新潟大学前駅周辺'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('shindaimae.jpg', :size => "200x200") %></div>
                            <span class="TileContents">新潟大学前駅周辺</span> 
                        <% end %>
                        <%= link_to users_search_path(:para =>'日本文理高校周辺'),:class => "Tile" do%>
                            <div class="posimage"><%= image_tag('bunri.jpg', :size => "200x200") %></div>
                            <span class="TileContents">日本文理高校周辺</span> 
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="textfont">
        <table align="center">
            <div class="textfont" align="center" style="margin-top: 40px;"><caption><font size="6">Feature </font><font size="4" color="gray">特集</font></caption></div>
            <%count = 1%>
            <% @tokusyu.first(3).each do |tokusyu| %>
                <tr>
                    <td style="font-size: 30px; font-family: 'Franklin Gothic Medium',sans-serif; color: #CC9900" ><I><%= tokusyu.date%></I>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 30px;" >特集#<%= count%> <%= tokusyu.title%></td>
                </tr>
                <tr>
                    <td width="100" style="font-size: 20px;"> <%= tokusyu.comment%></td>
                </tr>
                <tr>
                    <td>
                        <button class="button1" type="submit"><%= link_to "詳細はこちら", tokusyu.url, :style=>"color:white;" %></button>
                    </td>
                </tr>
                <%count += 1%>
            <% end %>
        </table>
    </div>
<% else %>
    
<% end %>