<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="css/category.css">
 <% if request.from_pc? %>
<h1 align="center">カテゴリ検索</h1>
<div class="category">
<table align="center" width="40%"　style="table-layout:fixed;">
    <tr>
        <td width="25%" height="40px">
            <%= link_to users_search_path(:para =>'ラーメン') do%>
            <button class="btn">ラーメン</button>
            <% end %>
        </td>
        <td width="25%" height="20px" >
            <%= link_to users_search_path(:para =>'居酒屋') do%>
            <button class="btn">居酒屋</button>
            <% end %>
        </td>
        <td width="25%" height="20px">
            <%= link_to users_search_path(:para =>'定食') do%>
            <button class="btn">定食</button>
            <% end %>
        </td>
        <td width="25%" height="20px">
            <%= link_to users_search_path(:para =>'カフェ') do%>
            <button class="btn">カフェ</button>
            <% end %>
        </td>
    </tr>
</table>
<h2 align="center">店名検索</h2>
<table align="center">
    <td>
    <div>
<%= form_tag(users_search_path, method: "get") do %>
<%= label_tag :name, "店名" %><%= text_field_tag :name, params[:name] %>
<%= submit_tag "検索" %>
<% end %>
</div>
    </td>
</table>
<% @user.each do |user| %>
 <table align="center" width="40%" border=1  rules="rows" style="margin-bottom:2px">
    <tr>
        <td style="width: 70%; height: 200px;  color:white; margin: 1px 0px 1px 0px;"  bgcolor="white">
            <%= link_to users_show_path(:id => user.id ), :style=>"color:black" do %>
            <font size="5"><%= user.name%></font><br>
                    <% end %>
            </td>
            <td style="width: 30%; height: 200px;  color:white; margin: 1px 0px 1px 0px;"  bgcolor="white">
          <%= link_to users_show_path(:id => user.id ), :style=>"color:black" do %>
            <div class="scale">
            <% itioshi = user.itioshiphoto.split(",") %>
            <%= image_tag itioshi.first %>
            </div>
            <% end %>
            </td>
    </tr>
</table>
<% end %>
</div>
<% else %>
<div align="center">カテゴリ検索</div>
<div class="category1">
<table align="center" width="30%"　style="table-layout:fixed;">
    <tr>
        <td width="25%" height="40px">
            <%= link_to users_search_path(:para =>'ラーメン') do%>
            <button class="btn">ラーメン</button>
            <% end %>
        </td>
        <td width="25%" height="20px" >
            <%= link_to users_search_path(:para =>'居酒屋') do%>
            <button class="btn">居酒屋</button>
            <% end %>
        </td>
        <td width="25%" height="20px">
            <%= link_to users_search_path(:para =>'定食') do%>
            <button class="btn">定食</button>
            <% end %>
        </td>
        <td width="25%" height="20px">
            <%= link_to users_search_path(:para =>'カフェ') do%>
            <button class="btn">カフェ</button>
            <% end %>
        </td>
    </tr>
</table>
<h2 align="center">店名検索</h2>
<table align="center">
    <td>
    <div>
<%= form_tag(users_search_path, method: "get") do %>
<%= label_tag :name, "店名" %><%= text_field_tag :name, params[:name] %>
<%= submit_tag "検索" %>
<% end %>
</div>
    </td>
</table>
</div>
<div class="category2">
<% @user.each do |user| %>
 <table align="center" width="100%" border=1  rules="rows" style="margin-bottom:2px">
    <tr>
        <td width="50%" height="120px" style=" color:white; margin: 1px 0px 1px 0px;" bgcolor="white">
            <%= link_to users_show_path(:id => user.id ), :style=>"color:black" do %>
            <font size="3"><%= user.name%></font><br>
                    <% end %>
            </td>
            <td width="50%" height="120px" style="color:white; margin: 1px 0px 1px 0px;" bgcolor="white">
          <%= link_to users_show_path(:id => user.id ), :style=>"color:black" do %>
            <div class="scale">
            <% itioshi = user.itioshiphoto.split(",") %>
            <%= image_tag itioshi.first %>
            </div>
            <% end %>
            </td>
    </tr>
</table>
<% end %>
</div>
<% end %>