<link rel="stylesheet" type="text/css" href="couponall.css">
<link rel="stylesheet" href="css/couponall.css">
<% if request.from_pc? %>
<div class="couponall">
    <% @user.each do |user| %>
    <table align="center" width="80%" height="120" border="1" style="margin-bottom: 30px;">
        <tr>
            <td width="30%" class="table-css">
                <%= link_to users_show_path(:id => user.id ) do %>
                    <font size="6" color="red">
                        <u><%= user.name%></u>
                    </font>
                <% end %>
            </td>
            <td rowspan="2" class="table-css" height="100%" valign="middle">
                <table width="100%" height="100%" class="table-css">
                    <tr width="100%" height="33%" style="text-align: center;">
                        <td bgcolor="#FFF1CF">
                            <div style=”display:table-cell;”>
                            <%= link_to users_coupon_path(:id => user.id ) do %>
                                <font color="black" size="6">
                                    coupon1: <%= user.coupon %>
                                </font>
                            <% end %>
                            </div>
                        </td>
                    </tr>
                    <tr width="100%" height="33%" style="text-align: center;">
                        <td bgcolor="#FFF1CF">
                            <div style=”display:table-cell;”>
                            <%= link_to users_coupon_path(:id => user.id ) do %>
                                <font color="black" size="6">
                                    coupon2: <%= user.coupon1 %>
                                </font>
                            <% end %>
                            </div>
                        </td>
                    </tr>
                    <tr width="100%" height="33%" style="text-align: center;">
                        <td bgcolor="#FFF1CF">
                            <div style=”display:table-cell;”>
                            <%= link_to users_coupon_path(:id => user.id ) do %>
                                <font color="black" size="6">
                                    coupon3: <%= user.coupon2 %>
                                </font>
                            <% end %>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="table-css" width="30%" height="350px">
                <%= link_to users_show_path(:id => user.id ), :class => "scale" do %>
                    <% itioshi = user.itioshiphoto.split(",") %>
                    <%= image_tag itioshi.first %>
                <% end %>
            </td>
        </tr>
    </table>
    <% end %>
    
</div>
<% else %>
    <% @user.each do |user| %>
        <div class="couponall">
            <table align="center" width="100%" height="120" border="1" style="margin-bottom: 30px;">
                <tr>
                    <td width="30%" class="table-css">
                        <%= link_to users_show_path(:id => user.id ) do %>
                            <font size="2" color="red">
                                <u><%= user.name%></u>
                            </font>
                        <% end %>
                    </td>
                    <td rowspan="2" class="table-css" height="100%" valign="middle">
                        <table width="100%" height="100%" class="table-css">
                            <tr width="100%" height="33%" style="text-align: center;">
                                <td bgcolor="#FFF1CF">
                                    <div style=”display:table-cell;”>
                                        <%= link_to users_coupon_path(:id => user.id ) do %>
                                            <font color="black" size="2">
                                                coupon1: <%= user.coupon %>
                                            </font>
                                        <% end %>
                                    </div>
                                </td>
                            </tr>
                            <tr width="100%" height="33%" style="text-align: center;">
                                <td bgcolor="#FFF1CF">
                                    <div style=”display:table-cell;”>
                                        <%= link_to users_coupon_path(:id => user.id ) do %>
                                            <font color="black" size="2">
                                                coupon2: <%= user.coupon1 %>
                                            </font>
                                        <% end %>
                                    </div>
                                </td>
                            </tr>
                            <tr width="100%" height="33%" style="text-align: center;">
                                <td bgcolor="#FFF1CF">
                                    <div style=”display:table-cell;”>
                                        <%= link_to users_coupon_path(:id => user.id ) do %>
                                            <font color="black" size="2">
                                                coupon3: <%= user.coupon2 %>
                                            </font>
                                        <% end %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="table-css" width="30%" height="100px">
                        <%= link_to users_show_path(:id => user.id ), :class => "scale" do %>
                            <% itioshi = user.itioshiphoto.split(",") %>
                            <%= image_tag itioshi.first %>
                        <% end %>
                    </td>
                </tr>
            </table>
        <% end %>
    </div>
<% end %>
