<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="css/coupon.css">
<% if request.from_pc? %>
    <div class="coupon">
        <table align="center" width="70%">
            <tr>
                <td>
                    <font size="7" color ="black"><b><u><%= @user.name %></u></b></font>
                    <div align="right"><font size="6"><u><%= link_to "お店情報はコチラ!!", users_show_path(:id => @user.id) %></u></font>
                    <table border=1 align="center" width="100%" cellspacing="20"  Frame="Void">
                        <% unless  @user.coupon.blank?%>
                            <tr>
                                <td style="width: 80%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="7" align="center">COUPON</font><br>
                                        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
                                    </div>
                                    <div align="center"><p><font size="7"><%= @user.coupon %></font></p><br>
                                    <font size="6">掲示条件:<%= @user.Presentation %><br>
                                    利用条件:<%= @user.use %></font></div>
                                </td>
                            </tr>
                        <% end %>
                        <% unless  @user.coupon1.blank?%>
                            <tr>
                                <td style="width: 80%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="7" align="center">COUPON</font><br>
                                        -----------------------------------------------------<br>
                                    </div>
                                    <div align="center"><p><font size="7"><%= @user.coupon1 %></font></p><br>
                                    <font size="6">掲示条件:<%= @user.Presentation1 %><br>
                                    利用条件:<%= @user.use1 %></font></div>
                                </td>
                            </tr>
                        <% end %>
                        <% unless  @user.coupon2.blank?%>
                            <tr>
                                <td style="width: 80%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="7" align="center">COUPON</font><br>
                                        -----------------------------------------------------
                                    </div>
                                    <div align="center"><p><font size="7"><%= @user.coupon2 %></font></p><br>
                                    <font size="6">掲示条件:<%= @user.Presentation2 %><br>
                                    利用条件:<%= @user.use2 %></font></div>
                                </td>
                            </tr>
                        <% end %>
                        <% unless  @user.coupon3.blank?%>
                            <tr>
                                <td style="width: 80%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="7" align="center">COUPON</font><br>
                                        -----------------------------------------------------
                                    </div>
                                    <div align="center"><p><font size="7"><%= @user.coupon3 %></font></p><br>
                                    <font size="6">掲示条件:<%= @user.Presentation3 %><br>
                                    利用条件:<%= @user.use3 %></font></div>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </td>
            </tr>
        </table>
    </div>
<% else %>
    <div class="coupon">
        <table align="center" width="100%">
            <tr>
                <td>
                    <font size="4" color ="black"><b><u><%= @user.name %></u></b></font>
                    <div align="right"><font size="4"><u><%= link_to "お店情報はコチラ!!", users_show_path(:id => @user.id) %></u></font>
                    <table border=1 align="center" width="100%" cellspacing="20"  Frame="Void">
                        <% unless  @user.coupon.blank?%>
                            <tr>
                                <td style="width: 100%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="5" align="center">COUPON</font><br>
                                        -----------------------------------------------------<br>
                                    </div>
                                    <div align="center"><p><font size="6"><%= @user.coupon %></font></p>
                                        掲示条件:<%= @user.Presentation %><br>
                                        利用条件:<%= @user.use %>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                        <% unless  @user.coupon1.blank?%>
                            <tr>
                                <td style="width: 100%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="5" align="center">COUPON</font><br>
                                        -----------------------------------------------------<br>
                                    </div>
                                    <div align="center"><p><font size="6"><%= @user.coupon1 %></font></p>
                                        掲示条件:<%= @user.Presentation1 %><br>
                                        利用条件:<%= @user.use1 %>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                        <% unless  @user.coupon2.blank?%>
                            <tr>
                                <td style="width: 100%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="5" align="center">COUPON</font><br>
                                        -----------------------------------------------------
                                    </div>
                                    <div align="center"><p><font size="6"><%= @user.coupon2 %></font></p>
                                        掲示条件:<%= @user.Presentation2 %><br>
                                        利用条件:<%= @user.use2 %>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                        <% unless  @user.coupon3.blank?%>
                            <tr>
                                <td style="width: 100%; height: 50px; color:black" bgcolor="#FFF1CF">
                                    <div align="center" style="font-family: 'Times New Roman', serif;">
                                        <font size="5" align="center">COUPON</font><br>
                                        -----------------------------------------------------
                                    </div>
                                    <div align="center"><p><font size="6"><%= @user.coupon3 %></font></p>
                                        掲示条件:<%= @user.Presentation3 %><br>
                                        利用条件:<%= @user.use3 %>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </td>
            </tr>
        </table>
    </div>
<%end%>