<h1>お店編集ページ for 管理者</h1>
<%# formタグを生成するform_forメソッド %>
<%= form_for @user do |f| %>
    <div>
        名前: <%= f.text_field :name %>
    </div>
    <div>
        ジャンル: <%= f.text_field :genre %>
    </div>
    <div>
        住所: <%= f.text_field :address %>
    </div>
    <div>
        緯度:
        <%= f.text_field :latitude %>
    </div>
    <div>
        経度:
        <%= f.text_field :longitude %>
    </div>
    <div>
        電話番号: <%= f.text_field :tel %>
    </div>
    <div>
        定休日: <%= f.text_field :closingday %>
    </div>
    <div>
        営業時間: <%= f.text_field :time %>
    </div>
    <div>
        店の雰囲気(画像ファイル名): <%= f.text_field :airphoto %>
    </div>
    <div>
        店の雰囲気(テキスト): <%= f.text_field :airtext %>
    </div>
    <div>
        メニュー(画像ファイル名): <%= f.text_field :menuphoto %>
    </div>
    <div>
        メニュー(テキスト): <%= f.text_field :menutext %>
    </div>
    <div>
        一押し(画像ファイル名): <%= f.text_field :itioshiphoto %>
    </div>
    <div>
        一押し(テキスト): <%= f.text_field :itioshitext %>
    </div>
     <div>
        クーポン: <%= f.text_field :coupon %>
    </div>
    <div>
        掲示条件: <%= f.text_field :Presentation %>
    </div>
    <div>
        利用条件: <%= f.text_field :use %>
    </div>
    <div>
        クーポン1: <%= f.text_field :coupon1 %>
    </div>
    <div>
        掲示条件1: <%= f.text_field :Presentation1 %>
    </div>
    <div>
        利用条件1: <%= f.text_field :use1 %>
    </div>
    <div>
        クーポン2: <%= f.text_field :coupon2 %>
    </div>
    <div>
        掲示条件2: <%= f.text_field :Presentation2 %>
    </div>
    <div>
        利用条件2: <%= f.text_field :use2 %>
    </div>
    <div>
        クーポン3: <%= f.text_field :coupon3 %>
    </div>
    <div>
        掲示条件3: <%= f.text_field :Presentation3 %>
    </div>
    <div>
        利用条件3: <%= f.text_field :use3 %>
    </div>
    
    <div>
        値段: <%= f.text_field :money %>
    </div>
    <div>
        お店のホームページ/Twitterアカウント: <%= f.text_field :storeurl %>
    </div>
    <div>
        特徴: <%= f.text_area :feature %>
    </div>
    <div>
        コメント: <%= f.text_area :comment %>
    </div>
    <div>
        場所: <%= f.text_field :place %>
    </div>
    <div>
        <%= f.submit "送信" %>
    </div>
<% end %>