<h1>お店一覧</h1>
<table border="1" width=auto cellspacing="0" cellpadding="5" bordercolor="#333333">
    <tr>
        <th>名前</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>お店のホームページ/Twitterアカウント</th>
        <th>コメント</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.address%></td>
            <td><%= user.tel %></td>
            <td><%= user.storeurl %></td>
            <td><%= user.comment %></td>
        </tr>    
    <% end %>
</table>
