<%# PC用ページ %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<% if request.from_pc? %>
    <%# catalog.cssと連携させる %>
    <link rel="stylesheet" type="text/css" href="catalog.css">
    <div class="textfont" align="center"><p><font size="6.5">お店一覧</font></p></div>
    <% c = 0 %>
    <% @user.each do |user| %>
        <% if c%3==0 then %>
            <table align="center" width="80%" cellspacing="20" border="1">
        <% end %>
        <%if c%3==0 then %>
            <div class="catalog_box_out" >
                <td style="width: 33%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid;  text-align:center;">
                    <div class="catalog_box_in">
                        <%= link_to user_path(user), :class => "image" do %>
                            <% itioshi = user.itioshiphoto.split(",") %>
                            <%= image_tag itioshi.first %><br>
                        <% end %>
                        <div style="line-height: 170%;"><span style="text-decoration: underline;"><font size="5"><%= link_to user.name, user_path(user) %></font></span><br>
                        <font size="4">コメント: <%= user.comment %><br>
                        周辺施設からの距離: <%= user.address %><br>
                        予算: <%= user.money %><br>
                        営業時間: <%= user.time %></font></div>
                    </div>
                </td>
            </div>
            <% if c==@user.length-1 then %>
                <div catalog_box_in>
                <td style="width: 33%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid;"></td></td><td style="width: 33%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid;"></td>
                </div>
            <% end %>
        <% end %>
        <% if c%3==1 then %>
            <div class="catalog_box_out" align="center">
                <td style="width: 33%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid; text-align:center;">
                    <div class="catalog_box_in">
                        <%= link_to user_path(user), :class => "image" do %>
                            <% itioshi = user.itioshiphoto.split(",") %>
                            <%= image_tag itioshi.first %><br>
                        <% end %>
                        <div style="line-height: 170%;"><span style="text-decoration: underline;"><font size="5"><%= link_to user.name, user_path(user) %></font></span><br>
                        <font size="4">コメント: <%= user.comment %><br>
                        周辺施設からの距離: <%= user.address %><br>
                        予算: <%= user.money %><br>
                        営業時間: <%= user.time %></font></div>
                    </div>
                </td>   
            </div>
            <% if c==@user.length-1 then %>
                <td width="33%"></td>
            <% end %>
        <% end %>
        <% if c%3==2 then %>
            <div class="catalog_box_out" >
                <td style="width: 33%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid; text-align:center;">
                    <div class="catalog_box_in">
                        <%= link_to user_path(user), :class => "image" do %>
                           <% itioshi = user.itioshiphoto.split(",") %>
                            <%= image_tag itioshi.first %><br>
                        <% end %>
                        <div style="line-height: 170%;"><span style="text-decoration: underline;"><font size="5"><%= link_to user.name, user_path(user) %></font></span><br>
                        <font size="4">コメント: <%= user.comment %><br>
                        周辺施設からの距離: <%= user.address %><br>
                        予算: <%= user.money %><br>
                        営業時間: <%= user.time %></font></div>
                    </div>
                </td>
            </div>
        <% end %>
        <% c = c + 1 %>
        <% if c%3==0 then %>
            <br>
        <% end %>
        <% if c%3==0 then %>
            </table>
        <% end %>
    <% end %>
<%# スマホ用ページ %>
<% else %>
    <%# catalog.cssと連携させる %>
    <link rel="stylesheet" type="text/css" href="catalog.css">
    <br><div class="textfont" align="center"><font size="4.5">お店一覧</font></div>
    <% c = 0 %>
    <% @user.each do |user| %>
        <% if c%2==0 then %>
            <table align="center" width="100%" cellspacing="5">
        <% end %>
        <%if c%2==0 then %>
            <div class="catalog_box_out_sp" >
                <td style="width: 50%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid; text-align:center;">
                    <div class="catalog_box_in_sp">
                        <%= link_to user_path(user), :class => "image_sp" do %>
                            <%= image_tag user.itioshiphoto %><br>
                        <% end %>
                        <div style="line-height: 170%;"><span style="text-decoration: underline;"><font size="3"><%= link_to user.name, users_show_path(user) %></font></span><br>
                        周辺施設からの距離: <%= user.address %><br>
                        予算: <%= user.money %><br>
                        営業時間:a <%= user.time %></font></div>
                    </div>
                </td>
            </div>
            <% if c==@user.length-1 then %>
                <div catalog_box_in_sp>
                    <td style="width: 50%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid;"></td><td style="width: 33%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid;"></td>
                </div>
            <% end %>
        <% end %>
        <% if c%2==1 then %>
            <div class="catalog_box_out_sp">
                <td style="width: 50%; vertical-align: top; border-radius: 7px; border: 1px #000000 solid; text-align:center;">
                    <div class="catalog_box_in_sp">
                        <%= link_to user_path(user), :class => "image_sp" do %>
                            <%= image_tag user.itioshiphoto, :class => "image_sp" %><br>
                        <% end %>
                        <div style="line-height: 170%;"><span style="text-decoration: underline;"><font size="3"><%= link_to user.name, users_show_path(user) %></font></span><br>
                        <font size="2">コメント: <%= user.comment %><br>
                        周辺施設からの距離: <%= user.address %><br>
                        予算: <%= user.money %><br>
                        営業時間: <%= user.time %></font></div>
                    </div>
                </td>   
            </div>
        <% end %>
        <% c = c + 1 %>
        <% if c%2==0 then %>
            <br>
        <% end %>
        <% if c%2==0 then %>
            </table>
        <% end %>
    <% end %>
<% end %>