<h1>お店紹介</h1>
<font size="6" face="ＭＳ ゴシック" color ="blue"><%= @user.name %></font>
<p>住所: <%= @user.address%></p>
<p>電話番号: <%= @user.tel%></p>
<p>お店のホームページ/Twitterアカウント: <%= @user.storeurl%></p>
<p>コメント: <%= @user.comment%></p>