<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<% if request.from_pc? %>
    <table width="70%" align="center" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="2">
                <%= image_tag("haikei.jpg", :class => "haikei")%>
            </td>
        </tr>
        <tr>
            <td width="35%">
                <%= link_to whoweare_itlbe_path, :class => "table_box" do %>
                    <%= image_tag("cafe.jpg")%>
                <% end %>
            </td>
            <td width="35%">
                <%= link_to whoweare_guruguru_path, :class => "table_box" do %>
                    <div align="center"><%= image_tag("gurugurumark.png")%></div>
                <% end %>
            </td>
        </tr>
    </table>
<% else%>
    <table width="100%" algn="center" border="1" cellspacing="0" cellpadding="0" border="1">
        <tr>
            <td colspan="2" width="100%">
                <%= image_tag("haikei.jpg", :class => "haikei")%>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <%= link_to whoweare_itlbe_path, :class => "table_box" do %>
                    <%= image_tag("cafe.jpg")%>
                <% end %>
            </td>
            <td width="50%">
                <%= link_to whoweare_guruguru_path, :class => "table_box" do %>
                    <div align="center"><%= image_tag("gurugurumark.png")%></div>
                <% end %>
            </td>
        </tr>
    </table>
<% end %>